
.empty {
	border: 1px solid;
	height: 50px;
	width: 50px;

	background-color: rgb(0,255,220);
}

.flashing {
	background-color: yellow;
}

.redToken {
	border: 2px solid;

	background-color: red;
}

.blueToken {
	border: 2px solid;

	background-color: blue;
}
