
div .border{
    border:4px solid;
    border-radius:25px;
    background: #FFFFFF;
    padding:5px 20px;
}

table {
    width:80%;
    border-collapse:collapse;
}

th {
    color:#678197;
    padding:.3em 1em;
    text-align:left;
    font-weight : bold;
}

td {
    color:#678197;
    padding:.3em 1em;
    text-align:left;
}

.ruleBundleChooser{
    cellSpacing:2;
    border:2;
    width:50%;
}

.menu ul { display: none; } /* Hide before plugin loads */
.menu ul.dropit-submenu {
    background-color: #fff;
    border: 1px solid #b2b2b2;
    padding: 6px 0;
    margin: 3px 0 0 1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.15);
}
.menu ul.dropit-submenu a {
    display: block;
    font-size: 14px;
    line-height: 25px;
    color: #7a868e;
    padding: 0 18px;
}
.menu ul.dropit-submenu a:hover {
    background: #248fc1;
    color: #fff;
    text-decoration: none;
}

#loginHeader {
    text-align: right;
}

#create {
    text-align: center;
}

#gamesButtons {
    text-align: center;
}

#gamesList {
    overflow-y: scroll;
    height:400px;
}

#gameInfo {
    text-align: center;
    display: table-cell;
    float: none;
}

.yScrolls {
    overflow-y: scroll;
    height:300px;
    width: 250px;
}
